.content-box {
    background-color: #ffffff43;
    box-shadow: 1px 4px 8px rgba(0,0,0,.15);
    padding: 10px;
    padding-bottom: 0;
    margin-top: 40px;
    margin-bottom: 10px;
    min-height: 100%;
    width: 100%;
}

.Container{
    margin-top: 15px;
}
