*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none !important;
}

.header{
    overflow: hidden;
    width: 100%;
    height: 70px;
    display: block;
    background-color: black;
}
.inner_header{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: black;

}
.logo_container{
    height: 100%;
    display: table;
    float: left;
}
.linkStyle{
    display: table-cell;
    vertical-align: middle;
}
.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 24px;
}
.navigation{
    float: right;
    height: 100%;
}
.navigation a{
    height: 100%;
    display: table;
    float: left;
    height: 100%;
    padding: 0px 20px;
}
.navigation a:last-child{
    padding-right:0;
}
.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-size: 16px;
}